.table td, .table th{
    border:1px solid #eee;
}

.item-image {
    height: 50px;
    object-fit: cover;
}
.caret {
    right: 30px;
    top:50%;
}
select {
    background-image: url('../../../assets/icons/caret-down.svg') !important;
}