th {
    border-bottom: 1px solid rgb(#707070,0.3);
}
td {
    border-bottom: 1px solid rgb(#707070,0.3);
}
tr:last-of-type td {
    border-bottom: 1px solid rgb(#707070,0.3);
}
.item-image {
    height: 50px;
    object-fit: cover;
}